<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Security Example</title>
<div th:replace="fragments/header :: header-css" />

</head>
<body>

	<!-- <div th:replace="fragments/header-login :: header-login"/>  -->
	<div class="login">
		<div style="margin-top: 5em">
			<h1>process finish</h1>
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">Name</th>
						<th scope="col">Email</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="${person.name}">Name</td>
						<td th:text="${person.email}">Email</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>